body {
	margin: 0;
	padding: 0;
	font-family: 'Lora', serif;
}

.landing_img{
	height: 100vh;
	width: 40%;
}

.login{
	position: absolute; 
	left: 55%;
	bottom: 40%;
	width: 30%;
	text-align: center;
	border: 6px solid gray;
	padding-bottom: 40px;
	border-radius: 15px;
}
h1{
	font-weight: bolder;
	padding-bottom: 20px;
	padding-top: 0px;
	color: gray;
}

.login_prompts{
	display: inline-block;
	width: 100%;
}
.dashboard_nav{
	position: fixed;
	height: 100vh;
	width: 25%;
	background-image: url('lore_stock2.jpg');

}
