<!DOCTYPE html>
<html>

	<head>

		<title>

			Blog

		</title>

				<meta charset="utf-8" />
				<meta name="viewport" content="width=device-width, initial-scale=1"/>

				<link rel="stylesheet" type="text/css" href="static/style.css">
				<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet"> 
	</head>

		<body>

			<img src="static/lore_stock3.jpg" class="landing_img">

			<div class="login">

				<h1>welcome home</h1>

				<form>
					
					<div class="login_prompts"><input type="text" name="username" placeholder="username"></div><br>
					<br>
					<div class="login_prompts"><input type="password" name="password" placeholder="password"></div>
					<br><br>
					<input type="submit" name="submit" value="login">

				</form>

			</div>

		</body>
</html>